<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Cucumber Suite">

    <listeners>
        <listener class-name="com.freecrm.listeners.ExtentTestListener"/>
    </listeners>

    <test name="Cucumber Tests">
        <!-- <packages>
            <package name="com.freecrm.tests"/>
        </packages> -->

        <classes>
            <class name="com.freecrm.runners.TestRunner"/>
        </classes>
    </test>

</suite>
